@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #2fa866;
    margin: 0px;
}

header{
    
    background-color:white;
    padding: 10px;
    margin:10px;
     
}
main{
    background-color: white;
    padding: 10px;
    margin:10px;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 1px;
    margin: 0px;
}
footer > p{
    margin: 0px;
}
article{
    background-color: lightgray ;
}
article > aside{
    background-color: lightslategray;
}
nav{
    background-color: rgba(119, 114, 114, 0.733);
    padding: 3px; ;
    box-shadow:2px -4px 12px 2px black;
}
nav > a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 30px;
}
nav >a:hover{
    text-decoration: underline;

}