@charset "UTF-8";

div{
    
    background-color: darkgray;
    display: inline-block;
    border: 1px solid black;
    text-align: center;
    height: 200px;
    width:200px ;
}
div:hover{
    background-color: yellow;
}
div>p{
    display: none;
}
div:hover>p{
    display: block;
    color: red;
}
