@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

    @font-face {
        font-family:"droide" ;
        src: url("idroid.otf") format("opentype");

        

        
        font-weight:normal;
        font-style:normal;
    }
    :root{
        --font-comun:"Bebas Neue", sans-serif;
    }
 body{
font-family: "droide", Helvetica, sans-serif;
background-color: rgb(90 224 152);

 }
 p{
    font-family: var(--font-comun);
    font-size: larger;
 }

 h1{
    color: green;
    font-size: 1.8em;
 }
 h2{
    color: green;
    background-color: rgba(50, 235, 127, 0.308);
    width: 400px;
    font-size: 1.2em;
    
 }

 nav{
    background-color: rgba(119, 114, 114, 0.733);
    padding: 3px; ;
    box-shadow:2px -4px 12px 2px black;
    text-align: center;
}
nav > a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 30px;
}
nav >a:hover{
    text-decoration: underline;

}
main{
    background-color: white;
    padding: 10px;
    margin: 178px;
    margin-top: 10px;
    box-shadow:2px -4px 12px 2px black;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px; ;
    margin: auto;
    min-width: 300px;
    max-width:1000px ;
}
img{
    width: 100%;
}

main img.pequena{
    margin: auto;
    width: 50%;
    display: block;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 1px;
    margin: 0px;
}
footer > p{
    margin: 0px;
}
article{
    background-color: white;
}
article > aside{
    background-color: lightslategray;
}
header{
    
    background-color:white;
    padding: 10px;
    margin:10px;
     
}